APP_NAME=ResQ AI Service
APP_PORT=8000
MODEL_VERSION_CATEGORY=resq-category-v1.0
MODEL_VERSION_SEVERITY=resq-severity-v1.0
MODEL_VERSION_SKILL=resq-skill-v1.0
MODEL_VERSION_RESPONDER=resq-responder-v1.0
